.orbitron-font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Adjust the font weight as needed */
    font-style: normal;
  }
  
main , footer{
    font-family: "Orbitron", sans-serif; /* Add the Orbitron font */
    display: flex;
    justify-content: center;
    align-self: center;
}
.calculator-container {
    background-color: silver;
    border-radius: 20px;
    height: 1125px;
    width: 684px;
}

.keys {
    display: flex;
    flex-direction: row;
}
button {
    width: 117px;
    height: 81px;
    margin-left: 0px;
    margin-bottom: 27px;
    margin-right: 36px;
    border-radius: 10px 10px 25px 25px;
    background-color: #41444d;
    color: #d8dcdd;
    font-weight: 800;
    font-size: 39px;
}

.add {
    width: 117px;
    height: 192px;
}

.ac {
    background-color: #9f6271;
}

.useable-border {
    margin: auto;
    width: 571px;
}
.accessories {
    display: flex;
    flex-direction: row;
}
.left-halve h1{
    font-size: 65px;
    margin-bottom: 0%;
}
.left-halve p{
    font-size: 20px;
}

.solar {
    width: 280px;
    height: 100px;
    background-color: #252422;
    border: 10px solid #696c71;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;         
}
.right-halve p{
    margin-left: 80px;
    margin-top: 10px;
    font-weight: 500;
}

.display {

}

.outer-display {
    background-color: #60636c;
    width: 576px;
    height: 297px;
    border-radius: 5px 5px 40px 40px;
    margin-bottom: 40px;
}


.inner-display {
    width: 468px;
    height: 234px;
    background-color: #d4e2e3;
    border-radius: 5px;
    margin-top: -320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}
