main , footer{
    display: flex;
    justify-content: center;
    align-self: center;
}
.calculator-container {
    background-color: silver;
    border-radius: 20px;
    height: 1125px;
    width: 684px;
}

.keys {
    display: flex;
    flex-direction: row;

}
button {
    width: 117px;
    height: 81px;
}

.add {
    width: 117px;
    height: 192px;
}